.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color:#2b303b;
    border-radius: 8px;
    padding: 10px;
}

.search_input {
    color: #65737e;
    border: 0;
    outline: 0;
    background: none;
    padding: 0 10px;
    width: 450px;
    caret-color: red;
    line-height: 40px;
    transition: width 0.4s linear;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}

i {
    color: #65737e;
}

body {
    background: #343d46;
}